.card{
    margin-top: 6rem;
    margin-left: 3rem;
    cursor: pointer;
    h5{
        font-size: 2rem;
        color: black;
        font-family: $font-family;
        font-weight: bold;
        margin-top: 1rem;
        padding: 0rem 1rem;

    }
    p{
        color: gray;
        font-size: 1.5rem;
        padding: 1rem 1rem;
    }
    &:hover{
        box-shadow: 1px 1px 15px 1px rgb(219, 218, 218);
        transition: .4s all;
    }
}