.container{
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .logo{
        margin-right: 8.4rem;
        align-items: center;
    }
    .navitem{
        display: flex;
        ul{
            display: flex;
            align-items: center;
            margin-left: 6rem;
            li{
                list-style: none;
                margin-top: .8rem;
                a{
                    color: rgb(46, 46, 46);
                    font-size: 1.4rem;
                    font-family: $font-family;
                    font-weight: 700;
                    padding-right: 5rem;
                    text-decoration: none;
                    align-items: center;
                    letter-spacing: 2px;
                    &:hover{
                        color: $primary-color;
                        transition: 0.4s ease-in;
                    }
                }
            }
        }

    }
    .icone{
        align-items: center;
        margin-left: 18rem;
        i{
            font-size: 1.8rem;
            margin-right: 1.2rem;
            cursor: pointer;
            color: rgb(58, 56, 56);
        }
        span{
            font-size: 1.6rem;
            font-family: $font-family;
            span1{
            font-family: $font-family;
                font-weight: 700;
                margin-left: .2rem;
            }
        }
    }
}
.row{
    margin-top: 1rem;
    .col-3{
        align-items: center;
        outline: none;
        .top{
            align-items: center;
            width: 94%;
            padding-bottom: 2rem;
            border: 1px solid rgb(216, 214, 214);

            h5{
                width: 100%;
                background: $primary-color;
                align-items: center;
                text-align: center;
                font-family: $font-family;
                font-weight: 700;
                letter-spacing: .2rem;
                font-size: 1.6rem;
                padding: 1.3rem;
                color: $white-color;
            }
            p{
                font-size: 1.6rem;
                font-family: $font-family;
                margin: 1.5rem 3rem;
                padding-left: 1.6rem;
                color: black;
            }
        }
    }
    .col-9{

        .search{
            display: flex;
            // width: 100%;
        
            input{
                padding:1rem 16rem;
                margin-bottom: 1.8rem;
                border: 1px solid rgb(233, 233, 233);
                align-items: center;
                text-align: left;
                font-size: 1.6rem;

            }
            button{
                margin-bottom: 1.8rem;
                outline: none;
                border: none;
                padding: 1rem 3rem;
                background: $primary-color;
                font-size: 1.6rem;
                color: white;
                font-family: $font-family;
                font-weight: 600;
            }
            .icone1{
                margin-left: 3rem;
                cursor: pointer;
                align-items: center;
                i{
                    font-size: 1.7rem;
                    background: rgb(233, 232, 232);
                    padding: 1rem .9rem;
                    border-radius: 50%;
                    color: $primary-color;
                    margin-left: 1rem;
                }
                span{
                    margin-top: 0;
                    margin-left: 1rem;
                    font-size: 1.5rem;
                    font-family: $font-family;
                    color: black;
                    font-weight: 600;

                }
                p{
                    margin-left: 5rem;

                }
            }
        }
        .hero{
            background: url(img/hero/banner.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 1.5rem;
            height: 49rem;
            padding-top: 12rem;
            padding-left: 7rem;
            p{
                align-items: center;
                font-family: $font-family;
                font-weight: 700;
                letter-spacing: .2rem;
                color: $primary-color;
                font-size: 1.6rem;
            }
            h1{
                font-family: $font-family;
                font-size: 4rem;
                font-weight: 700;
            }
            span{
                display: block;
                padding-top: 1rem;
                color: gray;
                font-family: $fm-nunito;
                font-size: 1.5rem;
            }
            button{
                border: none;
                outline: none;
                align-items: center;
                background: $primary-color;
                margin-top: 2rem;
                padding: 1.5rem 3.5rem;
                color: white;
                font-family: $font-family;
                font-weight: bold;
                letter-spacing: .2rem;
                font-size: 1.5rem;

            }
        }
    }
 }
}
